.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    padding: 15px;
    gap: 1rem;
}

.header__logo {
    width: 70%;
}

.header__div {
    flex: 1;
}

.header__nav {
    flex: 3;
    display: flex;
    gap: 1rem;
}

.header__link {
    display: flex;
    color: unset;
    text-decoration: none;
}

.header button {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.8rem;
}

.header__login {
    border: 1px solid var(--secondary);
    color: var(--secondary);
    background: var(--primary);
    transition: all 1s ease-in-out;
}

.header__login:hover{
    border: 1px solid var(--secondary);
    color: var(--primary);
    background: var(--secondary);
}

/* Tablet */

@media (min-width: 768px) {
    .header__nav {
        flex: unset;
        width: 30%;
    }

    .header__logo {
        width: 20%;
    }

    .header__link {
        height: 100%;
    }
}

/* Desktop */

@media (min-width: 1024px) {
    .header {
        padding: 1rem;
    }

    .header__logo {
        width: 7%;
    }

    .header__nav {
        width: 25%;
    }

    .header button {
        padding: 0.5rem 1rem;
    }
}
