.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.article {
    background: var(--primary);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    height: 125px;
    opacity: 0;
    transform: translateY(30px);
    animation: show 0.8s ease-out forwards;
}

@keyframes show {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.article div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article div:nth-child(2) {
    flex: 1;
    justify-content: flex-start;
}

.article__icon {
    width: 30px;
    height: 30px;
    fill: var(--secondary);
}

.article__title {
    font-size: 1.25rem;
    color: var(--secondary);
    font-weight: 700;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
