.card {
    background: var(--primary);
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    transform: translateY(30px);
    animation: show 0.5s ease-out forwards;
}

@keyframes show {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--secondary);
}

.two__input {
    width: 100%;
}

.one__input:checked {
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.one__input:checked::before {
    background-color: white;
}

.one__bottom {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.one__icon {
    width: 25px;
    height: 25px;
    fill: var(--secondary);
}

.one__bottomTitle {
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary);
}

.two__input {
    padding: 0.75rem;
    border-radius: 10px;
}

.three__top {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.three__top__flex {
    display: flex;
    gap: 1rem;
}

.three__top__text {
    font-size: 1rem;
    color: #fff;
}

.three__top__icon {
    width: 25px;
    height: 25px;
    fill: var(--secondary);
    cursor: pointer;
}

.three__top__amount {
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
}

.three__middle__text {
    font-size: 0.9rem;
    color: #fff;
}

.three__middle__span {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

.three__bottom__text {
    font-size: 1rem;
    color: #fff;
}

.three__bottom__span {
    font-size: 0.9rem;
    color: #fff;
}

.success__top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--secondary);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.success__top__svg {
    width: 35px;
    height: 35px;
    fill: #000;
}

.success__top__text {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
}

.success__buttons {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.success__buttons button {
    width: 100%;
}

.secondary {
    color: var(--secondary) !important;
}

.one__div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttonContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin-left: auto;
}

.d_mobile{
    display: block;
}

.d_desktop{
    display: none;
}

@media (min-width: 768px) {
    .d_mobile{
        display: none;
    }

    .d_desktop{
        display: block;
    }

    .card{
        padding: 3rem;
        gap: 2rem;
    }

    .success__buttons {
        flex-direction: row;
        justify-content: flex-end;
    }

    .success__buttons div:nth-child(1) {
        order: 2;
    }

    .success__buttons div {
        width: 50%;
    }

    .success__buttons button {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {

    .one__div{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .one__div a, .one__div button{
        width: 30%;
    }

    .two__input {
        width: 40%;
    }

    .success__buttons div {
        width: 25%;
    }

    .buttonContainer{
        width: 30%;
        margin-top: 0;
        margin-right: 0;
    }
}
