.card {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 1.5rem;
    background: #f9f6f6;
    border-radius: 12px;
}

.card__card {
    background: linear-gradient(to bottom right, #eee, #ddd);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #00000080;
    transition: all 0.3s ease;
}

.card__active {
    background: linear-gradient(to bottom right, #201f22, #3c383c);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: all 0.3s ease;
}

.card__chip {
    justify-self: flex-end;
    width: 40px;
    height: 30px;
    background: #d9d9d9;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.card__img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 4px;
}

.card__numbers {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.card__info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.card__form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card__input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #b4f5c8;
    border-radius: 8px;
    outline: none;
    font-size: 0.95rem;
}

.card__input::placeholder {
    color: #888;
}

.card__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

@media (min-width: 768px) {
    .card__inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .card__input:nth-of-type(1) {
        grid-column: 1 / -1; /* Número de tarjeta */
    }

    .card__input:nth-of-type(2) {
        grid-column: 1 / -1; /* Nombre y apellido */
    }

    .card__input:nth-of-type(3) {
        grid-column: 1 / 2; /* Fecha de vencimiento */
    }

    .card__input:nth-of-type(4) {
        grid-column: 2 / 3; /* Código de seguridad */
    }
}

@media (min-width: 1024px) {
    .card {
        max-width: unset;
        padding: 1rem 5%;
    }

    .card__card {
        width: 50%;
        justify-self: center;
    }

    .card__inputs{
        gap: 2rem;
    }

    .card__input:nth-of-type(1) {
        grid-column: 1 / 2; /* Número de tarjeta */
    }

    .card__input:nth-of-type(2) {
        grid-column: 2 / 3; /* Nombre y apellido */
    }

    .card__input:nth-of-type(3) {
        grid-column: 1 / 2; /* Fecha de vencimiento */
    }

    .card__input:nth-of-type(4) {
        grid-column: 2 / 3; /* Código de seguridad */
    }

    .card__button{
        margin-top: 1rem;
        width: 40%;
        align-self: flex-end;
    }
}
