.top {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.top__arrow {
    height: 20px;
    width: 20px;
    fill: var(--dark);
}

.top__text {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--dark);
    font-weight: bold;
    font-size: 1.1rem;
}
