.container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.container > .filter {
    display: none;
}

.list .filter {
    display: flex;
}

.list {
    grid-area: list;
    padding: 1.5rem;
    background: #fff;
    border-radius: 8px;
}

.list__title {
    font-weight: bold;
    font-size: 1rem;
}

.list__content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.active {
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1px solid #eeeaea;
    justify-content: space-between;
    align-items: center;
}

.active:first-child {
    border-top: 1px solid #eeeaea;
}

.active__circle {
    fill: var(--secondary);
    height: 30px;
    width: 30px;
}

.active__text {
    font-size: 0.9rem;
}

.active__start {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.active__end {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-end;
}

.active__top {
    font-size: 1rem;
}

.active__bottom {
    text-transform: capitalize;
    font-size: 0.9rem;
    color: #00000080;
}

.list__bottom {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__link {
    font-size: 0.8rem;
    font-weight: bold;
}

.list__svg {
    height: 25px;
    width: 25px;
    fill: #828282;
}

.list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__div {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.nav {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.nav__button {
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    background: none;
    color: #000;
}

.nav__buttonActive {
    background-color: #eeeaea;
    border-radius: 8px;
    width: 25px;
    height: 25px;
}

/* Filter */

.filter {
    cursor: pointer;
    grid-area: filter;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.filter__span {
    font-size: 1rem;
    color: var(--dark);
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.filter__icon {
    width: 15px;
    height: 15px;
    fill: var(--dark);
}

/* Filters */

.filters {
    position: fixed;
    background: #00000031;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transform: translateY(30px);
    animation: show 0.8s ease-out forwards;
}

@keyframes show {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.filters__hidden {
    height: 0;
    overflow: hidden;
}

.filtersActive {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.filters__content {
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%);
    background: #fff;
    width: 80%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.filters__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.filters__title {
    font-size: 1rem;
}

.filters__clean {
    background: none;
    border: none;
    color: #828282;
}

.filters__main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    border-top: 1px solid #828282;
}

.filters__dates {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 4;
}

.filters__date {
    display: flex;
    justify-content: space-between;
}

.filters__input:checked {
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.filters__input:checked::before {
    background-color: white;
}

.filters__buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters__button {
    margin-top: 1rem;
    background: var(--secondary);
    width: 100%;
    box-shadow: 0px 4px 4px 0px #0000001a;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    padding: 0.25rem;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'search search search filter'
            'list list list list';
        gap: 1rem;
    }

    .container > .filter {
        display: flex;
    }

    .list .filter {
        display: none;
    }

    .filter {
        background: var(--secondary);
        border-radius: 8px;
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
    }

    .filter__span {
        text-decoration: none;
        font-weight: 700;
    }

    .filters__content {
        width: 30%;
    }
}
