@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary: #201f22;
    --secondary: #c1fd35;
    --dark: #3a393e;
    --light: #eeeaea;
    --error: #EE3838;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

p{
  font-size: 14px;
}

button{
  font-size: 14px;
}

a{
  cursor: pointer;
  color: unset;
  text-decoration: none;
}