.data {
    background: #201f22;
    border-radius: 8px;
    padding: 1rem;
}

.data__title {
    color: #eeeaea;
    font-size: 0.9rem;
}

.data__text {
    color: var(--secondary);
}

.data__container {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.data__div:nth-child(2) {
    justify-self: flex-end;
}

.data__svg {
    width: 24px;
    height: 24px;
    fill: var(--secondary);
    cursor: pointer;
}

.data__number {
    color: #eeeaea;
}

.copied {
    font-size: 1rem;
    font-weight: 600;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    background: var(--secondary);
    padding: 10px 20px;
    color: var(--dark);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.copied.show {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 768px) {
    .data {
        padding: 2rem;
    }

    .data__title {
        font-weight: bold;
    }
}
